TELEGRAM_TOKEN=
GEMINI_API_KEY=
GOOGLE_SCRIPT_URL=
OPERATIONS_CHAT_ID=
LEADS_CHANNEL_ID=
ADMIN_CHAT_ID=
DEFAULT_LANG=pl
BANNER_FILE=assets/ewu_banner.png
MENU_FILE=assets/ewu_menu.png
LOGO_FILE=assets/ewu_logo.png
EWU_DATA_DIR=EWU_Data
LOCAL_BACKUP_FILE=EWU_Data/Backups/local_backup_leads.jsonl
PDF_DIR=EWU_Data/PDF
